.portfolio__about {

  &__header {
    text-align: center;
  }

  &__basics {
    display: flex;
    justify-content: center;
    align-self: center;
  
    &__info {
       & h3 {
        margin: 5px;
      }
    }
  }

  &__skills {
    display: flex;
    padding-top: 15px;
    justify-content: center;
    
    &__skill {
      margin: 0 3px;
      padding: 5px;
      background-color: #616161;
      border-radius: 5px;
    }
  }
}