.portfolio__header {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;

  &__image {
    max-width: 15%;
    height: auto;
    border-radius: 50%;
  }

  &__info {
    padding-left: 25px;
     & h3 {
      margin: 5px;
    }
  }
}