.portfolio__work {
  &__items {
    &__item {
      &__basic {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
      }
    }
  }

  &__highlights {
    list-style: none;
    margin: 0;
    padding: 0;

    &__highlight {
      padding: 5px 0;
    }
  }
}